body {
    background: #fefefe;
    color: #1d1d1d;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background: #05cccc;
}

.header-profile {
    display: flex;
    justify-items: center;
}

.profile-image img {
    border-radius: 5px;
}

.profile-name {
    margin-left: 2rem;
    font: bold;
    color: azure;
    align-self: center;
    font-size: small;
}

header nav .nav-links {
    text-align: center;
    font: bold;
    padding: 5px;
    background: #48435C;
    margin-top: 5px;
    border-radius: 5px;
}

header nav .nav-links li {
    font-weight: 900;
    padding: 5px;
}

header nav .nav-links li a {
    color: #fff;
}

header nav .nav-links li a:hover {
    color: #9792E3;
    transition: 300ms;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* -------Main -------- */

main h2 {
    text-align: center;
    border-bottom: 1px solid #fefefe;
}

.card {
    padding: 5px;
}

.card-header {
    background: #48435C;
    color: #fff;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-info {
    border: 1px solid #545766;
    padding: 10px;
}

.card-info ul li {
    padding: 5px;
}

.card-info ul li a {
    color: #EDFFEC;
}

.card-info ul li a:hover {
    color: #61E786;
    font-weight: 900;
    transition: 300ms;
}

.centered {
    text-align: center;
}

/* ----- Footer -----  */

.last-modified {
    color: teal;
}

.copyright {
    color: #505050;
}