body {
    background: #fefefe;
    color: #1d1d1d;
}

header,
main,
footer {
    max-width: 760px;
    margin: 1rem auto;
    padding: 20px;
    border: 1px solid #cfcfcf;
    border-radius: 5px;
    background: #05cccc;
}

.header-profile {
    display: flex;
    justify-items: center;
}

.profile-image img {
    border-radius: 5px;
}

.profile-name {
    font-family: 'Megrim', cursive;
    margin-left: 2rem;
    font: bold;
    color: azure;
    align-self: center;
    font-size: small;
}

.nav-links {
    display: none;
    text-align: center;
    font: bold;
    padding: 5px;
    background: #48435C;
    margin-top: 5px;
    border-radius: 5px;
}

.nav-links li {
    font-weight: 900;
    padding: 5px;
}

.nav-links li a {
    color: #fff;
}

.nav-links li a:hover {
    color: #9792E3;
    transition: 300ms;
}

#menu {
    font-size: 1.5rem;
    border: 1px solid rgba(0,0,0,.3);
    padding: 3px 7px 6px;
    background-color: #2b7575;
    color: #fff;
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-top: 5px;
    border-radius: 5px;
}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "❎";
}

/* when the button is clicked - the open class is toggle (added/removed) and accounted for here */
.open{
	display: block;
}
/* .open li a {
	display: block;
} */

.active::before {
	content: "📍 ";
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* -------Main -------- */

main h2 {
    color: cornsilk;
    text-align: center;
    border-bottom: 1px solid #fefefe;
}

.card {
    padding: 5px;
}

.card-header {
    background: #48435C;
    color: #fff;
    text-align: center;
    padding: 1px;
    border-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.card-info {
    background: #EDFFEC;
    border: 1px solid #545766;
    padding: 10px;
}

.card-info ul li {
    padding: 5px;
    font-weight: 900;
}

.card-info ul li a {
    color: #9792E3;
    font-weight: 500;
}

.card-info ul li a:hover {
    color: #61E786;
    font-weight: 900;
    transition: 300ms;
}

.centered {
    text-align: center;
}

/* ----- Footer -----  */

.last-modified {
    color: teal;
}

.copyright {
    color: #505050;
}