@media screen and (min-width: 640px) {
    .profile-name {
        font-size: larger;
    }

    .nav-links {
        display: block;
    }

    #menu {
        display: none;
    }
    
    .nav-links ul {
        display: flex;
        justify-content: center;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    main h2 {
        grid-column: 1 / 5;
    }
    main .card1  {
        grid-column: 1 / 4;
    }

    main .card2 {
        grid-column:  4 / 5;
    }
}